@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
  --primary-color: #ffd60a;
  --primary-sub-color: #003566;
  --primary-dark-color: white;
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: 600;
  transition-duration: 0.2s;
}

.screen {
  background-color: white;
  min-height: 200vh;
}

.dark-mode-btn {
  position: fixed;
  top: 30px;
  right: 35px;
  z-index: 100;
  transform: scale(2);
  cursor: pointer;
}
.dark-mode-btn:hover {
  transform: scale(2.5);
}

/*다크모드 style*/
.dark {
  background-color: #333;
  color: var(--primary-dark-color);
}

.dark .layout {
  color : var(--primary-dark-color)f;
}
.dark nav {
  background-color: #444;
  border-color: transparent;
}
.dark header {
  background-color: #665604;
}

.dark .search-ipt {
  background-color: #555;
  color: var(--primary-dark-color);
}
.dark .search-ipt::placeholder {
  color: var(--primary-dark-color);
}

.dark header > button {
  color: var(--primary-dark-color);
  background-color: #555;
}

.dark button {
  background-color: #666;
  border-color: #666;
  color: var(--primary-dark-color);
}

.dark .clear-all-btn:hover {
  background-color:#1e0004;
  border-color: #1e0004;
  color: white;
  transition-duration: 0.2s;
}
.dark .check-border {
  background-color:#444;
  border-color: #444;
}

.dark .check-border:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  box-shadow: 0px 30px 20px rgba(0,0,0,0.3);
}

.dark .btn-container > button:hover{
  border-color: #7777;
  background-color: #777;
}

.layout {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1200px;
  height: 100%;
  display: block;
  justify-content: center;
  color: var(--primary-sub-color);
}

nav {
  border: 1px solid var(--primary-color);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  gap: 30px;
  padding: 30px;
  border-radius: 20px;
  margin-top: 10px;
}

button {
  background-color: transparent;
  border: 2px solid var(--primary-sub-color);
  padding: 10px 30px;
  border-radius: 10px;
  width: 50%;
  font-size: 15px;
  cursor: pointer;
  color: var(--primary-sub-color)
}

.search-ipt {
  height: 50px;
  width: 300px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0px 10px;
  font-size: 16px;
}

header > button {
  width: 150px;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  background-color: white;
}

.clear-all-btn {
  display:flex;
  justify-content: center;
  width: 150px;
  padding:10px;
}

.clear-all-btn:hover {
  background-color:#990011;
  border-color: #990011;
  color: white;
}

.working-list-container {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  justify-content: center;
  gap: 20px;
}

.done-list-container {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  justify-content: center;
  gap: 20px;
}

.check-border {
  display: block;
  position: relative;
  border: 4px solid var(--primary-sub-color);
  border-radius: 12px;
  padding: 12px 30px 24px;
  min-height: 250px;
}

.btn-container {
  position: relative;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.btn-container > button:hover{
  background-color: var(--primary-sub-color);
  color: whitesmoke;
  font-size:18px;
  font-weight:bolder;
  transition-duration: 0.2s;
}